pnpm-lock.yaml
node_modules
models/tiny/*
models/small/*
models/large/*
models/large360/*
client/*.map
*.zip
*.tgz

media/*.webm
media/Soccer*
media/BasketballDunkSlowMo.mp4
media/DanceModern.mp4
media/DanceContemporary.mp4