pnpm-lock.yaml
node_modules
models/tiny/*
models/small/*
models/large/*
models/large360/*
client/*.map
*.zip
*.tgz
media/SoccerCompilation.webm
media/SoccerCompilation.webm.json
media/DanceContemporary.webm
media/BasketballDunkSlowMo.webm
